::selection{
  background: #28afb0;
}

::-moz-selection {
  background: #28afb0;
}

html{height: 100%;}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a{color: white; text-decoration: none;}
a:hover{text-decoration: underline;}

nav{position: fixed; width: 100%; height: 80px; z-index: 2;}
nav #lang{position: absolute; top: 50%; transform: translateY(-50%); right: 20px; margin-right: 20px; color: white;}
#lang a{color. white;margin-right: 10px;margin-left: 10px; font-family: 'Hind', sans-serif;}

nav h1{margin: 0px; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); display: none; color: white;}
nav ul{list-style-type: none; margin-left: 30px; margin-top: 14px; display: none;}
nav ul li{display: inline; margin: 10px; color: white;}

canvas{
  max-width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.opashow{opacity: 0.8;}

#head_threejs{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
    background-color: #3d315b;
}

section{
  width: 100%;
  height: 100%;
  display: inline-block;
}

.fullsize{}

.first{

}

#intro{
  max-height: none;
  max-width: 560px;
  margin: 0 auto;
  color: white;
  z-index: 1;
  position: relative;
  text-align: center;
}

#intro h1{
  margin-top: 50%;
  font-family: 'Hind', sans-serif;
  font-size: 34px;
}
#intro h2{
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 40px;
}

#intro h2 span:hover{ border-bottom: 2px solid white; color: white;}

#introbutton{
  border-radius: 4px;
  padding: 12px;
  background: white;
  border: 2px solid white;
  margin: 5px;
  color: #28afb0;
  font-weight: 500;
  transition: background .2s ease-in-out;
  font-family: 'Hind', sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
}

#introbutton:hover{
  background: none;
  color: white;
  cursor: pointer;
}

#intro .fa-angle-down{
  margin-top: 50%;
  display: block;
  font-size: 30px;
  color: #fff;
}

.second{
  background-color: white;
  height: 400px;
}
.third{
  background-color: blue;
  height: 250vh;
}
